
@{
    ViewBag.Title = "Index";
}

<h1>PET CLINIC</h1>
@Html.ActionLink("Doctor", "DoctorPage", "Home")<br />
@Html.ActionLink("Client", "ClientPage", "Home")<br />
@Html.ActionLink("Rooms", "RoomPage", "Home")
